[Unit]
Description=Load SSH keys in ssh-agent
Requires=dev-sdb1.mount
After=dev-sdb1.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load-keys.sh

[Install]
WantedBy=dev-sdb1.mount
